/*Estilos Generales*/
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.fondodepagina{
    background-image: url(https://dbdzm869oupei.cloudfront.net/img/mantels/preview/49318.png);
    background-color: rgb(255, 255, 255);
    background-position: center;
    min-height: 100vh;
}

/*Estilos de la barra de navegación */
.box {
    float: left;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 254, 254, 0.8);
    color: rgb(0,0,0);
    width: 25%;
    height: 40px;
    padding-top: 10px;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
}

.box:hover {
    color: black;
    background-color: gray;
}

h1, h2, h3 {
    color: #ff6f61;
    font-weight: 700;
}

/*Estilos de párrafos*/

p {
    color: #333;
}

/*Estilos de contenedores*/
.container {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.content {
    text-align: center;
    max-width: 900px;
    margin-top: 30px;
}

/*Estilos del formulario*/
.input-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.input-control input,
.input-control select {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
}

.input-control input:focus,
.input-control select:focus {
    outline: 0;
    border-color: #09c372;
}

.input-control.success input,
.input-control.success select {
    border-color: #09c372;
}

.input-control.error input,
.input-control.error select {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/*Estilos del botón enviar*/
.btn-primary {
    background-color: #ff6f61;
    border-color: #ff6f61;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3 ease;
}

.btn-primary:hover {
    background-color: #ff4f41;
    border-color: #ff4f41;
}

/*Estilos de botones de editar y eliminar*/
.btn{
    padding: 5px 10px;
    border: none;
    margin: 0px 5px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.btn-editar {
    background-color: #09c372;
}

.btn-eliminar {
    background-color: #ff3860;
}

/*Estilos del formulario*/
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-group label {
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

.form-group .input-control{
    width: 70%;
}